@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /*Für Navigation Background Farbe*/
  /*background-color: rgba(8, 27, 41, 1);*/
}
/*Header*/
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  color: #03a9f4;
  justify-content: space-between;
  align-items: center;  
}
/*HUME Logo*/
header .logo
{
  max-width: 10%;
  max-height: 30%;
}
/*Button Navigation Bar (Burger Icon)*/
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  filter: brightness(0.8) sepia(100) saturate(100000%) hue-rotate(311deg);
}
/*Kontakt Formular Eingabefelder*/
.kontakt-formular {
  color:white;
  position:relative;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #03a9f4;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:50%;
  box-sizing: border-box;
  outline:0;
}
#formular {
  margin-left: 10%;
  text-align: center;
}
#formular-text {
  color:#03a9f4;
}
/*Absenden Button Kontaktformular*/
[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 50%;
  background:#03a9f4;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#03a9f4; }
textarea {
  height: 118px;
  line-height: 150%;
  resize:vertical;
}


.feedback-input:focus { border:2px solid #03a9f4; }
/*Button Navigation Bar Aktiv (X Icon)*/
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.visionPicture {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
/**/
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
/**/
.showcase.active
{
  right: 300px;
}
/**/
.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
/**/
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.1);
}
/**/
.overlay2 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.1);
}
/**/
.text
{
  position: fixed;
  margin-top: 500px;
  left: 40%;
  z-index: 10;
}
/**/
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
/**/
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
/**/
.text a:hover
{
  letter-spacing: 6px;
}
/*Hintergrund von Navigationbar*/
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(8, 27, 41,1);
}
/**/
.menu ul
{
  position: relative;
}
/**/
.menu ul li
{
  list-style: none;
}
/**/
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: rgba(255,203,28,10.1);
}
/**/
.menu ul li a:hover
{
  color: #03a9f4; 
}
@media (max-width: 991px)
{
.showcase,
.showcase header
{
  padding: 40px;
}
}
/* Datenschutz Text */
.datenschutz {
  text-align: center;
  position: relative;
  left: 50%;
  right: 50%;
  color: #fff;
  width: 70%;
  transform: translate(-50%) ;
}
.impressum {
  text-align: center;
  position: relative;
  left: 50%;
  right: 50%;
  color: #fff;
  width: 70%;
  transform: translate(-50%) ;
}
